.form{
    height: 580px;
    width: 750px;
    top: -12px;
    border-radius: 37px;
    position: absolute;
    left: 30%;
    top: 150px;
    bottom: 100px;
    background: #FFFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    transform: translate(-50%;-50%);
}
.conta{
    position: absolute;
    width: 580px;
    height: 143x;
    left: 170px;
    top: 580px;
    font-family: Roboto;
    font-style: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.42);
}

.cadastro2{
    position: absolute;
    width: 559px;
    height: 75px;
    left: 430px;
    top: 580px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.42);
}


.text_sen{
    position: absolute;
    left: 265px;
    width: 432px;
    right: 21.2%;
    top: 37px;
    bottom: 86.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 51,56px;
    display: flex;
    align-items: center;

    color: rgba(146, 147, 148, 0.5);
}

.texto_nova_sen{
    position: absolute;
    left: 108px;
    right: 8.8%;
    top: 159px;
    bottom: 67.3%;
    border-color: #E5E5E5;
}

.texto_nova_sen input{
    height: 75px;
    width: 534px;
    left: 108px;
    top: 159px;
    font-size: 30px;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: #E5E5E5;

}

.texto_conf{
    position: absolute;
    left: 108px;
    right: 8.8%;
    top: 267px;
    bottom: 67.3%;
    border-color: #E5E5E5;
}

.texto_conf input{
    height: 75px;
    width: 534px;
    left: 108px;
    top: 267px;
    font-size: 30px;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: #E5E5E5;

}

::placeholder{
    color: #E5E5E5;

}
:-ms-input-placeholder{
    color: #E5E5E5;

}
::-ms-input-placeholder{
    color: #E5E5E5;

}
.email{
    position: absolute;
    left: 7%;
    right: 8.8%;
    top: 35%;
    bottom: 51.02%;
    border-color: #E5E5E5;
}

.email input{
    height: 55px;
    width: 450px;
    left: 65px;
    top: 200px;
    font-size: 30px;
    border-radius: 10px;
    border-color: #E5E5E5;
}

.botao_alt{
    line-height: 30px;
    position: absolute;
    left: 112px;
    right: 8%;
    top: 409px;
    bottom: 13.38%;
    background: #124E78;
    border-radius: 18px;
    height: 83px;
    width: 525px;
    font-size: 38px;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}


.image{
    position: absolute;
    width: 337px;
    height: 189px;
    left: 41.5%;
    top: -2%;
    align-items: center;
    text-align: center;
    transform: translate(-50%;-50%);
}

.image3{
    position: absolute;
    width: 268px;
    height: 26px;
    left: 1500px;
    top: 775px;
}

body {
    background: #E5E5E5;
  }

@media screen and (max-width: 900px) {
    .image3{ display: none}
        .btn-toggle{display: block}
}
@media screen and (max-width: 900px) {
    .form{
        height: 500px;
        width: 550px;
        left: 0px;
        top: -12px;
        border-radius: 37px;
        position: absolute;
        left: 15px;
        right: 0%;
        top: 150px;
        bottom: 100px;
        background: #FFFDFD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 37px;
        transform: translate(-50;-50);
    }

    .image{
        position: absolute;
        width: 337px;
        height: 189px;
        left: 125px;
        top: -2%;

    }
    .name input{
        height: 55px;
        width: 480px;
        left: 65px;
        top: 150px;
        font-size: 30px;
        border-radius: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #E5E5E5;

    }

    .botao_alt{
        line-height: 30px;
        position: absolute;
        left: 52.4%;
        right: 8%;
        top: 72.01%;
        bottom: 13.38%;
        background: #124E78;
        border-radius: 15px;
        height: 70px;
        width: 228px;
        font-size: 38px;
        display: inline-block;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

    }


}
